<!DOCTYPE html>
<html lang="en">
<head>
    <title>About me</title>
    <link rel="icon" href="/public/images/weather.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./images/profile.jpg" alt="profile">
    </div>
    {{>footer}}
</body>
</html>